.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.bars-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.filters {
    flex: 0 0 250px; 
}

/* Conteneur global */
.bars-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px 50px;
}

/* Partie gauche avec le filtre */
.filters {
    max-width: 300px;
}

/* Partie droite avec le texte et les bars */
.bars-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Texte pour ajouter un bar */
.add-bar-text {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--titles-color);
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 10px;
    text-decoration: underline;
}

.add-bar-text span {
    font-weight: bold;
    text-decoration: underline;
}

/* Grid des bars */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.home-container {
    background-color: var(--cards-bckg-color);
    border-radius: 15px;
    box-shadow: 3px 3px 10px var(--shadow-color);
    padding: 30px;
    width: 800px;
    margin: 30px auto;

    * {
        background-color: var(--cards-bckg-color);
    }
}

.card {
    background-color: var(--cards-bckg-color);
    border-radius: 15px;
    box-shadow: 3px 3px 10px var(--shadow-color);
    padding: 20px;
    width: 300px;
    position: relative; 
}

.card h2 {
    color: var(--subtitles-color);

    margin-bottom: 10px;
}

.card .description {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 15px;
    background-color: var(--cards-bckg-color);
}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: var(--subtext-color);
    background-color: var(--cards-bckg-color);
}
.degree, .price {
    background-color: var(--subtitles-color);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.status {
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--cards-bckg-color);
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

button {
    padding: 8px 20px;
    background-color: var(--subtitles-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    margin-top: 20px;
}

button:hover {
    background-color: var(--titles-color);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

.content {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 250px;
}

/* Formulaire de suppression */
.delete-form {
    margin-top: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
}

.delete-form input {
    margin-bottom: 10px;
}

/* icone de suppression */
.delete-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #e74c3c;
}

.delete-icon:hover {
    color: #c0392b;
}

/* icone pour ajout bière/commande */
.add-icon {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
}

.add-icon:hover {
    color: orange;
}
